.node {
  & {
    list-style: url('nasawds/src/img/usa-icons/chevron_right.svg');
  }

  &[aria-expanded='true'] {
    list-style: url('nasawds/src/img/usa-icons/expand_more.svg');
  }

  & [data-testid='checkbox'] {
    position: relative;
    top: -0.25rem;
    display: inline-block;
  }

  & label {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
}

.leaf {
  list-style: none;
}
