/*!
 * Copyright © 2023 United States Government as represented by the
 * Administrator of the National Aeronautics and Space Administration.
 * All Rights Reserved.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

.icon {
  display: inline-block;
  color: inherit;
  background-color: currentcolor;
  mask-position: center;
  mask-repeat: no-repeat;
}
