/*!
 * Copyright © 2023 United States Government as represented by the
 * Administrator of the National Aeronautics and Space Administration.
 * All Rights Reserved.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

.editor {
  position: relative;
  border-top: 1px solid darkslategray;
  margin-top: 8px;

  .preview,
  textarea {
    border-top: 56px solid transparent;
    min-height: 256px;
    max-width: 100%;
    margin-top: 0;
  }

  .preview {
    width: 100%;
    height: 100%;
    max-width: 100%;
    padding: 10px;
    padding-top: 6px;
    border-left: 1px solid darkslategray;
    border-right: 1px solid darkslategray;
    border-bottom: 1px solid darkslategray;
  }

  textarea {
    resize: vertical;
  }
}

.hidden {
  display: none;
}

.toolbarPopover {
  width: fit-content;
  position: absolute;
  top: 55px;
  right: 2px;

  :global(.usa-card > .usa-card__container) {
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  :global(.usa-card > .usa-card__container > .usa-card__body) {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 4px;
    padding-right: 4px;
  }
}
