@import 'styles';

/*
 * Size and position the NASA meatball logo in the header. 
 */

#site-logo {
  height: 2em;
  padding-right: 0.25em;
}

@media all and (max-width: 64em) {
  #site-logo {
    vertical-align: middle;
  }
}

@media all and (min-width: 64em) {
  .usa-header--basic .usa-navbar {
    width: 50%;
  }

  #site-title {
    display: inline-block;
    max-width: 70%;
  }
}

/*
 * Without this, the mobile nav menu button seems to extend one pixel below
 * the header.
 */

.usa-header--dark .usa-navbar {
  border-bottom-color: color('ink');
}

/*
 * Pin the footer to the bottom of the screen.
 * See https://css-tricks.com/a-clever-sticky-footer-technique/
 */

.usa-footer {
  position: sticky; /* instead of absolute */
  top: 100vh;
}

html,
body {
  height: 100%;
}

/*
 * Set heading font to Helvetica
 */

@for $i from 1 through 6 {
  h#{$i} > a {
    font-family: family('lang');
  }
}

.usa-footer__logo-heading {
  font-family: family('lang');
}

/*
 * Hover link indicator for headings (like in GitHub's display of Markdown)
 */

@for $i from 1 through 6 {
  h#{$i} > a {
    color: inherit;
    text-decoration: none;
  }

  h#{$i} > a:hover::before {
    content: url('../img/usa-icons/link.svg');
    position: relative;
    float: left;
    width: 0;
    right: 30px;
  }
}

/*
 * Background color for code samples
 */

code,
code.hljs {
  @extend .bg-base-lightest;
}

/*
 * Styling for external links
 */

 a[rel~="external"] {
  @extend .usa-link--external;
}

/*
 * Active nav links
 */

.active {
  @extend .usa-current;
}
