/*
 * Size and position the NASA meatball logo in the header.
 */

.header {
  :global(.usa-logo__text) img {
    height: 2em;
    padding-right: 0.25em;

    @media all and (max-width: 64em) {
      vertical-align: middle;
    }
  }

  @media all and (min-width: 64em) {
    :global(.usa-navbar) {
      width: 50%;
    }

    :global(.usa-logo__text) span {
      display: inline-block;
      max-width: 70%;
    }
  }
}
