name: Deploy

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: arm64
      - name: NPM Install
        run: npm ci
      - name: Build
        run: npm run build
      - name: Install Python dependencies
        run: |
          docker run --rm --platform linux/arm64 -v $(pwd):/src python:3.11 sh -c 'apt-get update && apt-get -y install --no-install-recommends npm && cd src && npx arc hydrate -v'
          sudo chown -R $(id -u):$(id -g) python/vendor
      - name: Strip Python code
        uses: ./.github/actions/strip-python
        with:
          args: python/vendor --exclude python/vendor/astropy --tests
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          path: |
            build
            python/vendor

  deploy:
    name: Deploy to AWS
    needs: build
    if: github.event_name == 'push' && github.ref == format('refs/heads/{0}', github.event.repository.default_branch)
    strategy:
      fail-fast: false
      matrix:
        include:
          - env: dev
            url: https://dev.gcn.nasa.gov
          - env: test
            url: https://test.gcn.nasa.gov
          - env: prod
            url: https://gcn.nasa.gov
    environment:
      name: ${{ matrix.env }}
      url: ${{ matrix.url }}
    permissions:
      contents: read
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
      - name: NPM Install
        run: npm ci
      - name: Download artifacts
        uses: actions/download-artifact@v4
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_IAM_ROLE }}
          aws-region: us-east-1
      - name: Deploy
        run: npx arc deploy --prune --production --no-hydrate
